/*estilos globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo-rosa {
  background-color: #ffaeae;
}

h1 {
  color: white;
  font-size: 3.2em;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 2.5em;
}

h3 {
  color: white;
  font-size: 2em;
}

p {
  color: #ffffff;
  font-size: 1.5em;
}

/*estilos de body*/
body {
  background-color: rgb(172, 234, 234);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffaeae;
}
header .img-logo {
  width: 10em;
}
header nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}
header nav ul li {
  color: rgb(231, 231, 231);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 1.5em;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  column-gap: 140px;
  align-items: center;
  padding: 7px;
}

/* Estilo/acerca de mi*/
/*estilos-index*/
.main-index .conteiner {
  margin-top: 20px;
}
.main-index .conteiner .div-index .h1-index {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
}
.main-index .conteiner .divdos-index {
  padding: 0 5%;
}
.main-index .conteiner .divdos-index .h2-index {
  color: aliceblue;
}
.main-index .carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

/*estilos de servicios*/
.servicios-main .imagenes {
  height: 100%;
}
.servicios-main .imagenes .contenedor-grilla .hijo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.servicios-main .imagenes .contenedor-grilla .hijo .img-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}
.servicios-main .titulos {
  margin-top: 20px;
  width: 100%;
  padding: 0 20px;
}
.servicios-main .titulos .titulos-contenedor h1 {
  font-size: 30px;
  margin: 0;
}
.servicios-main .titulos .titulos-contenedor p {
  font-size: 20px;
  margin-top: 10px;
}
.servicios-main .nuestros-servicios {
  padding: 0 20px;
}
.servicios-main .nuestros-servicios h2 {
  background-color: #ffaeae;
  text-align: center;
}
.servicios-main .nuestros-servicios .div-servicios {
  position: relative;
  top: 18px;
}
.servicios-main .nuestros-servicios .div-servicios ul {
  margin: 0;
  padding: 0;
}
.servicios-main .nuestros-servicios .div-servicios ul li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.servicios-main .masajes {
  padding: 0 20px;
}
.servicios-main .masajes .descontracturantes .h3-servicios {
  color: #ffaeae;
}
.servicios-main .masajes .descontracturantes p {
  font-size: 20px;
  margin-top: 10px;
}
.servicios-main .masajes .relajantes h3 {
  color: #ffaeae;
}
.servicios-main .masajes .relajantes p {
  font-size: 20px;
  margin-top: 10px;
}
.servicios-main .masajes .relajantes ul {
  margin: 0;
  padding: 0;
}
.servicios-main .masajes .relajantes ul li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.servicios-main .masajes .deportivos h3 {
  color: #ffaeae;
}
.servicios-main .masajes .deportivos p {
  font-size: 20px;
  margin-top: 10px;
}
.servicios-main .masajes .deportivos ul {
  margin: 0;
  padding: 0;
}
.servicios-main .masajes .deportivos ul li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.servicios-main .masajes .ventosas h3 {
  color: #ffaeae;
}
.servicios-main .masajes .ventosas p {
  font-size: 20px;
  margin-top: 10px;
}

.main-ubicacion .section-ubic {
  padding: 0 10%;
}
.main-ubicacion .section-ubic h1 {
  color: #ffaeae;
  background-color: rgb(238, 243, 243);
  font-size: 2em;
  margin-top: 10px;
}
.main-ubicacion .section-ubic p {
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.main-ubicacion .servicios-ubicacion {
  padding: 0 10%;
}
.main-ubicacion .servicios-ubicacion h2 {
  color: #ffaeae;
  font-size: 2em;
}
.main-ubicacion .servicios-ubicacion ul li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5em;
}
.main-ubicacion .ubicacion .ubic-div {
  padding: 0 10%;
}
.main-ubicacion .ubicacion .ubic-div h3 {
  color: #ffaeae;
  font-size: 2em;
}
.main-ubicacion .ubicacion .ubic-div p {
  color: #ffffff;
  font-size: 1.5em;
}
.main-ubicacion .ubicacion .ubic-div .iframe {
  width: 100%;
  margin-bottom: 20px;
}

/*estilo-contacto*/
.main-contacto h1 {
  color: #ffaeae;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main-contacto .container-fluid {
  text-align: center;
}
.main-contacto .container-fluid .datosdecontacto {
  margin-top: 80px;
  padding: 0 10%;
}

/*BOTONES*/
.button-contacto {
  color: rgb(255, 255, 255);
  background-color: rgba(153, 199, 238, 0.96);
  padding: 2px;
  margin-top: 8px;
}

/*estilos footer*/
footer {
  background-color: #ffaeae;
  padding: 0.5em;
}
footer .footer-section {
  background-color: #ffaeae;
  padding: 0.5px;
  text-align: right;
  font-family: Cambria;
  font-size: 1rem;
}
footer .footer-section .footer-iconos {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .main-ejemplos {
    display: flex;
    flex-direction: column;
  }
  .main-ejemplos section .contenedor {
    flex-direction: row;
  }
  .main-ejemplos section .contenedor .card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main-ejemplos section .contenedor .card div .parrafo-card {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    display: flex;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .servicios-main .imagenes .contenedor-grilla .hijo {
    display: flex;
  }
}


/*# sourceMappingURL=style.css.map */
