/*estilo-contacto*/
.main-contacto {
    h1{
        color: #ffaeae;
        font-size: 3em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .container-fluid{
        text-align: center;
        .datosdecontacto{
            margin-top: 80px;
            padding: 0 10%;
        }
    }

}
