/*estilos de servicios*/
.servicios-main {

    .imagenes {
        height: auto;

        .contenedor-grilla {
            .hijo {
                @include grid (1fr, repeat(3, 1fr), center);
                align-items: center;

                .img-grid {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .titulos {
        margin-top: 20px;
        width: 100%;
        padding: 0 20px;

        .titulos-contenedor {

            h1 {
                font-size: 30px;
                margin: 0;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }

        }
    }

    .nuestros-servicios {

        padding: 0 20px;

        h2 {
            background-color: $color-text;
            text-align: center;
        }

        .div-servicios {
            position: relative;
            top: 18px;

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    color: #ffffff;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .masajes {
        padding: 0 20px;

        .descontracturantes {
            .h3-servicios {
                color: #ffaeae;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }
        }

        .relajantes {

            h3 {
                color: #ffaeae;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    color: #ffffff;
                    font-size: 1.5rem;
                }
            }
        }

        .deportivos {

            h3 {
                color: #ffaeae;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    color: #ffffff;
                    font-size: 1.5rem;
                }
            }
        }

        .ventosas {

            h3 {
                color: #ffaeae;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
}