
@media (min-width: 320px) and (max-width: 768px) {
    header {
        flex-direction: column;

        nav ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    }
    .main-ejemplos{
        display: flex;
        flex-direction: column;
        section{
            .contenedor{
                flex-direction: row;
                .card{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    div{
                        .parrafo-card{
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    
}


@media (max-width: 1024px) {
    header {
        flex-direction: column;

        nav ul {
            display: flex;
            gap: 10px;
        }

    }
}


@media (min-width: 768px) {
    header {
        flex-direction: row;

        nav ul {
            display: flex;
            gap: 10px;
        }
    }
}




