
/*estilos footer*/
footer{
    background-color: nth($list: $colores, $n: 2);
    padding: 0.5em;

    div{
        background-color: nth($list: $colores, $n: 2) ;
        padding: 0.5px;
        text-align: right;
        font-family: nth($list: $estiloletras, $n: 1);
        font-size: 1rem;
        p{
            text-align: center;
            font-family: nth($list: $estiloletras, $n: 1);
            font-size: 1.5rem;
            color: nth($list: $colores, $n: 3);
        }
        a{
            color: $color-parrafo;
        }
        
    }
    
}