
/*estilos footer*/
footer{
    background-color: nth($list: $colores, $n: 2);
    padding: 0.5em;

    .footer-section{
        background-color: nth($list: $colores, $n: 2) ;
        padding: 0.5px;
        text-align: right;
        font-family: nth($list: $estiloletras, $n: 1);
        font-size: 1rem;
        .footer-iconos{
            text-align: center;
        }
    }
    
}